#calculadora{
    background-color:#DAE8fc;
    width: 40%; 
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    color: #5745F8;
}
#calculadora div{
    text-align: center;
    padding: 5px;

}
#calculadora input{
    padding: 5px;
}